<footer ng-if="infoObj" class="footer" id="info-popup">
	<div class="row"  id="info-header">
		<h3>
			<span  id="info-title">
				{{mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].label}} -
				{{mapOptions.layers.overlay.filters.code_etat.values[infoObj.code_etat].label}}
					<span class="" ng-if="infoObj.code_etat == 'act'">
						depuis {{infoObj.max_etat_annee}}
					</span>
					<span class="" ng-if="infoObj.code_etat == 'ina'">
						en {{annee_etatdonnees}}
					</span>
			</span>
			<span class="glyphicon glyphicon-remove pull-right" onclick="$('#info-popup').hide(); return false;"></span>
		</h3>
	</div>
	<div id="info-content">
		<div class="col-md-2 col-xs-6" id="info-picture">
			<img class="img-responsive img-rounded"
				src="static/data/img/img_{{infoObj.code_sp}}.jpg" alt="{{infoObj.code_sp}}"
				style="padding-bottom: 15px;">
		</div>
		<div class="col-md-3  col-xs-6" id="info-pq">
			<div id="info-sp">
				<div><b>Localisé en : </b> {{mapOptions.layers.overlay.vocabulaire.code_zone_pnc.values[infoObj.zone_pnc].label}}
		    	</div><div><b>Sur le massif : </b>{{infoObj.massifs}}</div>
			</div>
			<div id='periode-quietude'>
				<b>Période de quiétude à respecter</b>
				<div class="table-responsive">
					<div id='periode-1' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['1']==1 ? 'periode-active' : 'periode-inactive'">J</div>
					<div id='periode-2' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['2']==1 ? 'periode-active' : 'periode-inactive'">F</div>
					<div id='periode-3' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['3']==1 ? 'periode-active' : 'periode-inactive'">M</div>
					<div id='periode-4' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['4']==1 ? 'periode-active' : 'periode-inactive'">A</div>
					<div id='periode-5' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['5']==1 ? 'periode-active' : 'periode-inactive'">M</div>
					<div id='periode-6' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['6']==1 ? 'periode-active' : 'periode-inactive'">J</div>
					<div id='periode-7' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['7']==1 ? 'periode-active' : 'periode-inactive'">J</div>
					<div id='periode-8' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['8']==1 ? 'periode-active' : 'periode-inactive'">A</div>
					<div id='periode-9' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['9']==1 ? 'periode-active' : 'periode-inactive'">S</div>
					<div id='periode-10' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['10']==1 ? 'periode-active' : 'periode-inactive'">O</div>
					<div id='periode-11' class="col-md-1 col-xs-1" ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['11']==1 ? 'periode-active' : 'periode-inactive'">N</div>
					<div id='periode-12' class="col-md-1 col-xs-1"ng-class="mapOptions.layers.overlay.filters.code_sp.values[infoObj.code_sp].periode['12']==1 ? 'periode-active' : 'periode-inactive'">D</div>
				</div>
			</div>
		</div>
		<div class="col-md-7  col-xs-12" id="info-reglementation">
				<div class="" ng-if="infoObj.zone_pnc != 'zc'">
					<p>
						Durant la période sensible, <b>la quiétude du périmètre doit être préservée. </b>
						<b>En cas de projet d’activités, travaux ou autre, merci de contacter :
							<span ng-if="contact_massifs[infoObj.massifs]">
									{{contact_massifs[infoObj.massifs].nom_agent}} TCVT au {{contact_massifs[infoObj.massifs].tel_fixe}} ou au {{contact_massifs[infoObj.massifs].tel_portable}}
							</span>
						</b>
					</p>
					<p>
						L’expertise et le dialogue permettront de voir si le projet est possible sans compromettre la reproduction et ce dans quelles conditions. L’objectif est toujours de concilier au mieux les enjeux de préservation du patrimoine naturel et les autres besoins du territoire.
					</p>
					<p>
						En dehors de la période sensible, même si le périmètre est inactif, il est important de préserver les caractéristiques générales du site. Dans le cas d’un projet qui pourrait les impacter, contacter la personne mentionnée ci-dessus qui sera en mesure de formuler des préconisations.
					</p>
				</div>
				<div class="" ng-if="infoObj.zone_pnc == 'zc'">
					<p>
						Ce périmètre de quiétude se situe en cœur de Parc national. <b>Les travaux ou activités projetés peuvent être soumis à autorisation.</b> Dans tous les cas, durant la période sensible, <b>la quiétude du périmètre doit être préservée. </b>
					</p>
					<p ng-if="contact_massifs[infoObj.massifs] || contact_secteurs[infoObj.id_secteur]">
						En cas de projet d’activités, travaux ou autre, merci de contacter :
							<ul>
								<li ng-if="contact_massifs[infoObj.massifs]">
										{{contact_massifs[infoObj.massifs].nom_agent}} TCVT au {{contact_massifs[infoObj.massifs].tel_fixe}} ou au {{contact_massifs[infoObj.massifs].tel_portable}}
								</li>
								<li ng-if="contact_secteurs[infoObj.id_secteur]">
										{{contact_secteurs[infoObj.id_secteur].nom_agent}} garde moniteur au {{contact_secteurs[infoObj.id_secteur].tel_portable}}
								</li>
						</ul>
					</p>
					<p>
						Il vous renseignera au sujet de la règlementation et les demandes d’autorisations à effectuer. Concernant le périmètre de quiétude, l’expertise et le dialogue permettront de voir si le projet est possible sans compromettre la reproduction et ce dans quelles conditions. L’objectif est toujours de concilier au mieux les enjeux de préservation du patrimoine naturel et les autres besoins du territoire.
					</p>
					<p>
						En dehors de la période sensible, même si le périmètre est inactif, il est important de préserver les caractéristiques générales du site. Dans le cas d’un projet qui pourrait les impacter, contacter la personne mentionnée ci-dessus qui sera en mesure de formuler des préconisations.
					</p>
				</div>
		</div>
	</div>
</footer>
