<div class="newPass-page fill" style="background-image:url('static/img/login/JP_M_08542ORI.jpg');">
  <div class="">
    <img src="static/img/logo_pnc_orange_r.png"/>
  </div>
  <div id="newpass-wraper">
    <form class="login-form" name="newPassForm">
      <legend>Demander un nouveau mot de passe</legend>
      <div class="body">
        <div>Saisissez l'adresse e-mail associée à votre compte. Nous vous enverrons un nouveau mot de passe par e-mail.</div>
        <div class="form-group" ng-class="{ 'has-error' : newPassForm.email.$invalid && !newPassForm.email.$pristine }">
          <input type="text" class="form-control" name="email" ng-model="email" placeholder="email" required>
          <p ng-show="newPassForm.email.$invalid && !newPassForm.email.$pristine" class="help-block">Email non valide</p>
        </div>
      </div>
      <footer>
        <button type="submit" class="btn btn-primary"
          ng-disabled="newPassForm.$invalid"
          ng-click="newpassword()">Demander</button>
      </footer>
    </form>
  </div>
